<h2 class="section-title">Signup</h2>
<form method="post">
  <input name="name" placeholder="Name" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <select name="role" required>
    <option value="transporter">Driver</option>
    <option value="shipper">Transport Owner</option>
  </select>
  <button type="submit" class="btn">Signup</button>
  </form>